@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
      Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .text-spinner {
    font-family: "Menlo", monospace;
  }

  .text-spinner::after {
    animation: anim-dots 300ms steps(3) infinite;
    animation-direction: alternate;
    content: "...";
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  @keyframes anim-dots {
    0% {
      width: 0;
    }
    75% {
      width: 3ch;
    }
    100% {
      width: 3ch;
    }
  }
}
